.search {
    text-align: center;
    margin-top: 20px; 
}

#searchForm {
    display: inline-block;
}

h1 {
    text-align: center;
    font-size: 70px;
}

p {
    text-align: center;
    font-size: 25px;
}

.Header {
    height: 40px;
    background-color: #ACC18A;
}

nav {
    font-size: 25px;
    text-align: right;
}

nav > a {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-color: #f2fbe0;
    width: 100%;
}

.recipes-heading {
    color: #1D4E89;
}

.breakfast {
    margin: 20px;
}

h2 {
    background-color: #ACC18A;
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 27px;
    color: #1D4E89;
}

.breakfast > h2 {
    text-align: center;
    
}

.breakfast-1, .breakfast-2 {
    display: flex;
    flex: wrap;
    width: 100%;
}

.ingredients {
    width: 50%;
    font-size: 22px;
}
.instructions {
    width: 50%;
    font-size: 22px;
}