.search {
    text-align: center;
    margin-top: 20px; 
}

#searchForm {
    display: inline-block;
}

h1 {
    text-align: center;
    font-size: 70px;
}

p {
    text-align: center;
    font-size: 25px;
}

.Header {
    height: 40px;
    background-color: #ACC18A;
    width: 100%;
}

nav {
    font-size: 25px;
    text-align: right;
}

nav > a {
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: white;
    width: 100%;
}

.recipes-heading {
    color: #1D4E89;
}

h2 {
    font-size: 30px;
    text-align: center;
    width: 100%;
}

h3 {
    font-size: 27px;
    color: #1D4E89;
}

.breakfast-header {
  background-color: #FEB500;
  color: white;
}

.lunch-header {
  background-color: #00843D;
  color: white;
}

.dinner-header {
  background-color: #01426A;
  color: white;
}


.breakfast-1, .breakfast-2, .breakfast-3 {
    display: flex;
    flex: wrap;
    width: 100%;
    background-color: #FFE299;

}

.lunch-1, .lunch-2, .lunch-3 {
  display: flex;
  flex: wrap;
  width: 100%;
  background-color: #DAFEB7;
}

.dinner-1, .dinner-2, .dinner-3 {
  display: flex;
  flex: wrap;
  width: 100%;
  background-color: #86BEE1;
}

.ingredients {
    width: 50%;
    font-size: 22px;
}
.instructions {
    width: 50%;
    font-size: 22px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* main page styles */
#search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#results {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#results div {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.search-input {
  margin-right: 10px;
  margin-bottom: 10px;

}